.category-title {
  color: #454955;
}

.category-button {
  align-items: center;
  background-color: #F4F4F6;
  border-radius: 30px;
  box-shadow: 2px 2px #00000022;
  cursor: pointer;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 50px;
  padding: 50px;
}

.category-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-button:hover {
  background-color: #07B35A;
  font-style: italic;
}

.category-cards a {
  min-width: 375px;
  text-decoration: none;
  width: 50%;
}
