.category-title {
  color: #454955;
  margin: 0;
}

.category-button {
  align-items: center;
  background-color: #F4F4F6;
  border-radius: 30px;
  box-shadow: 2px 2px #07B35A;
  cursor: pointer;
  display: flex;
  height: 120px;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
}

.category-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.category-button:hover {
  background-color: #07B35A;
  font-style: italic;
}

.category-cards a {
  display: flex;
  justify-content: space-around;

  min-width: 275px;
  text-decoration: none;
  width: 33%;
}
