.CardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90vh;
  overflow: scroll;
}

.weed-card {
  background-color: #f4f4f6;
  border: 2px solid #75757D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  min-width: 285px;
  overflow-wrap: break-word;
  padding: 1%;
  width: 23%;
  max-height: 220px;
}

.card-top {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 75px;
}

.card-name-race {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.favorite-button-icon {
  background-color: none;
  cursor: pointer;
  height: 70px;
  width: 60px;
}

.card-name {
  font-size: 1.5em;
}

.card-race {
  border: 1px solid #75757D;
  margin: 5%;
  padding: 5%;
  width: 120%;
}

.indica,
.sativa,
.hybrid {
  border: none;
  border-radius: 15px;
  margin: 5%;
  padding: 3% 10%;
  width: auto;
}

.indica {
  background-color: #43E8F2;
}

.sativa {
  background-color: #F2AC43;
}

.hybrid {
  background-color: #A543F2;
}

.card-bottom {
  font-size: .7em;
  padding-top: 3%;
}

.effects {
  align-items: center;
  display: flex;
  margin: 2%;
}

.effect-indicator {
  height: 20px;
  margin: 0 5px 3px 0;
  width: 20px;
}

.weed-card a {
  text-decoration: none;
  color: black;
}

.no-selection-alert img {
  filter: drop-shadow(0 0 0.50rem #75757D);
  margin-top: 10px;
  width: 70%;
}