.filter-title {
  /* width: 20%;
  min-width: 200px; */
  margin: 20px;
  text-align: center;
  color: #07B35A;
  font-weight: bold;
}

.selection-menu {
  background-color: #F4F4F6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 60%;
  text-align: left;
  margin: 0 auto;
  border-radius: 30px;
}

.selection-menu input {
  margin-right: 10px;
}

.med-input {
  margin-top: 5px;
}


/* .filter-item {
  width:  30%;
} */