main {
  align-items: center;
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.error-msg {
  color: #F00511;
  width: 30%;
  font-weight: bold;
  padding: 10px;
  margin: 20px auto;
}

.hide {
  display: none;
}

.age-alert {
  width: 30%;
  left: 35%;
  position: absolute;
  top: 300px;
  background-color: white;
  height: 150px;
  color: black;
  padding-top: 50px;
}



form {
  background-color: rgba(117, 117, 125, 0.4);
  width: 60%;
  height: 72%;
}

h2 {
  color: white;
  opacity: 100%;
}

h3 {
  color: white;
}

span {
  color: #07B35A;
  -webkit-text-fill-color: #07B35A;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white
}

.login-logo {
  width: 30%;

}

.username-input {
  margin-top: 2%;
  padding: 0.5%;
}

.age-btns {
  border: none;
  cursor: pointer;
  padding: 1%;
  margin: 3% 3% 0 3%;
  width: 20%;
}

.green-btn {
  background-color: #07B35A;
}

.green-btn:hover {
  background-color: #28F68B;
}

.red-btn {
  background-color: #F00511;
}

.red-btn:hover {
  background-color: #FC737A;
}
