.weed-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f4f6;
    border: 2px solid #75757D;
    border-radius: 10px;
    width: 23%;
    margin: 1%;
    padding: 1%;
    overflow-wrap: break-word;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    width: 75px;
}

.card-name-race {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.favorite-button-icon {
    background-color: none;
    width: 60px;
    height: 70px;
}


.card-name {
    font-size: 1.5em;

}

.card-race {
    margin: 5%;
    border: 1px solid #75757D;
    width: 120%;
    padding: 5%;

}

.indica {
    background-color: #43E8F2;
    margin: 5%;
    border: none;
    border-radius: 15px;
    width: auto;
    padding: 3% 10%;
}

.sativa {
    background-color: #F2AC43;
    margin: 5%;
    border: none;
    border-radius: 15px;
    width: auto;
    padding: 3% 10%;
}

.hybrid {
    background-color: #A543F2;
    margin: 5%;
    border: none;
    border-radius: 15px;
    width: auto;
    padding: 3% 10%;
}

.card-bottom {
    font-size: .7em;
}

.effects {
    display: flex;
    align-items: center;
    margin: 2%;
}

.effect-indicator {
    width: 20px;
    height: 20px;
    margin: 0 5px 3px 0;
}